*{
 font-family: sans-serif Calibri;
}
.container {
    height: 95%;
    margin: auto;
    min-width: 900px;
    padding: 10px;
    position: absolute;
    width: 97%;
}
.sidePanel {
    border: 1px solid;
    float: left;
    height: 90%;
    width: 300px;
    overflow: hidden;
    background:url("../images/canvas-bg.png") repeat ;
}
.list {
    /*overflow: auto;*/
    height: 100%;
    position: relative;
}
.nodePaneContainer {
    border: 1px solid;
    overflow: hidden;
    height: 90%;
    margin-right: 10px;
    width: -webkit-calc(93% - 255px);
    width: -moz-calc(93% - 255px);
    width: calc(93% - 255px);
    float: left;
}
.clear {
    clear: both;
}

.drangNode {
    overflow: visible;
    width: 90px;
    height: 90px;
}
g.node circle {
    stroke:#c8c8c8;

}
g.node,g.linkRemove{
    cursor:pointer;
}

g.inputs circle{
    stroke-width : 0px;
}

g.outputs circle{
    stroke-width : 0px;
}

g.node circle.outer {
    fill: url('/#defaultImage');
}

g.node.selected circle.outer {
    fill: url('/#selectedImage');
}

g.node.selected circle.outer {
    stroke-opacity : 0;
}
g.node g.controls{
    visibility: hidden;
    cursor:pointer;
}

g.node.selected g.controls{
    visibility: visible;
}

g.controls image.hover{
    filter:url('/#dropShadow');
}
g.node.selected g text{
    opacity: 1;
}

g.node text {
    font : 12px sans-serif;
    font-weight : bold;
    opacity: 0;
}
g.node text.nodeName{
    opacity: 1 !important;
}

g.node.hover text{
    opacity: 1;
}

g.node.hover circle.outer{
    filter:url('/#dropShadow');
}

g.inputs.hover text{
    opacity: 1;
}

g.outputs.hover text{
    opacity: 1;
}

path.transition, path.dragline {
    fill : none;
    stroke : #c8c8c8;
    stroke-width: 6px;
    cursor : default;
}

path.transition_b, path.dragline_s{
    fill : none;
    stroke : #ebebeb;
    stroke-width: 4px;
    cursor : default;
}

path.dragline {
    pointer-events: none;
}
path.dragline.hidden {
    stroke-width: 0px;
}
/* disable text selection */
svg *::selection {
    background : transparent;
}
svg *::-moz-selection {
    background:transparent;
}
svg *::-webkit-selection {
    background:transparent;
}

.drag_line {
    stroke: #999;
    stroke-width: 5;
    pointer-events: none;
}

.dragline .hidden {
    stroke: #999;
    stroke-width: 0;
    pointer-events: none;
}
.removeline.hidden {
 visibility: hidden;
}
.removeline{
    z-index: 10000;
}
#nodePane{
 background:url("../images/canvas-bg.png") repeat ;
 overflow: auto;
 width: 100%;
 height: 100%;
}

#Popup_div{
    position: absolute;
    top: 20px;
    right: 30px;
}

#Popup_div .qtip{
    position: static;
    min-height: 0;
    overflow: hidden;
    margin: 0 0 5px 0;
}
#nodeEditor{
    display: block;
}

#editText{
    position: absolute;
    font-weight: bold;
    z-index: 1000;
    padding: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: 0;
}

#UIModel{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    pointer-events: auto;
    z-index: 999;
    background-color: rgba(64,64,64,0.6);
}

/*==========================*/
/*=====CSS for accordion====*/
.panelHeader{
    height: 25px;
    padding: 5px;
    position:relative;
    width: 290px;
    background-color: rgb(244,244,244);
}

.panelFooter{
    padding: 5px;
    width: 290px;
    position:relative;
    height:25px;
    background-color: rgb(244,244,244);
}
.panelHeader .title{
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    text-align: left;
}

.panelBody{
    margin-bottom: 5px;
    height: -webkit-calc(100% - 35px);
    height: -moz-calc(100% - 35px);
    height: calc(100% - 35px);
    overflow:auto;
}
/**/
#tabs,#parameterPanel,#toolPanel{
    padding: 0 !important;
    height: -webkit-calc(100% - 15px);
    height: -moz-calc(100% - 15px);
    height: calc(100% - 15px);
    position: static;
    width: 100%;
}

.category{
    height: auto;
    margin: 5px auto;
    padding: 5px;
    border: 1px rgb(242,242,242) solid;
    cursor: pointer;

    font-weight: bold;
    padding-left: 10px;
    font-size: 15px;

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 49%, rgba(224,224,224,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(49%,rgba(242,242,242,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 49%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 49%,rgba(224,224,224,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 49%,rgba(224,224,224,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 49%,rgba(224,224,224,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */

}

.category.active{
    background: rgb(244,244,244); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(196,196,196,1) 48%, rgba(160,160,160,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(48%,rgba(196,196,196,1)), color-stop(100%,rgba(160,160,160,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(196,196,196,1) 48%,rgba(160,160,160,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(196,196,196,1) 48%,rgba(160,160,160,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(196,196,196,1) 48%,rgba(160,160,160,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(244,244,244,1) 0%,rgba(196,196,196,1) 48%,rgba(160,160,160,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#a0a0a0',GradientType=0 ); /* IE6-9 */
}

.category_body{
    height: auto;
    margin: 0px auto auto;
    padding: 0.002em 0px;
}

.toolElement {
    border: 1px rgb(242,242,242) solid;
    cursor: pointer;
    margin: 3px auto;
    padding: 5px;
    background-color: rgba(158,158,158,0.1);
    height: 25px;
}
.toolElement .toolId{
    float: left;
}

.toolId .toolTitle{
    margin-left: 5px;
    vertical-align: middle;
    font-size: 13px;
    font-weight: bold;
}

.toolElement .dragElement{
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);
    cursor: move;

    width: 22px;
    height: 22px;
    background: #ccc;
    border: 1px solid #666666;
    float: left;
    background: url("../images/container_default.png") repeat scroll 0 0 / 22px auto rgba(0, 0, 0, 0);
}
.dragNode{
    width: auto;
    position: absolute;
    cursor: move;
}

.dragNodeElement{
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);

    width: 64px;
    height: 64px;
    background: #ccc;
    margin: auto;
    background: url("../images/container_default.png") repeat scroll 0 0 / 64px auto rgba(0, 0, 0, 0);
}
.emptyDrag{
    background: #000 !important;
    background-image: none !important;
}

.dragNodeTitle{
    width: 64px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    word-wrap: break-word;
}

.row{
    margin: 5px 0px;
    clear: both;
    min-height: 20px;
    font-size: 15px;
    padding-left: 10px;
}

.row .values{
    float: left;
    margin-left: 10px;
}

.row .keys{
    float: left;
    text-transform:capitalize;
    font-weight: bold;
}

/*#tabs .tabs-spacer { float: left; height: 200px; }*/
.tabs-bottom .ui-tabs-nav { clear: left; padding: 0 .2em .2em .2em; }
.tabs-bottom .ui-tabs-nav li { top: auto; bottom: 0; margin: 0 .2em 1px 0; border-bottom: auto; border-top: 0; width: 138px; border-radius: 7px;cursor: pointer; }
.tabs-bottom .ui-tabs-nav li a{ font-size: 12px;text-align: center;width: 112px; cursor: pointer !important;}
.tabs-bottom .ui-tabs-nav li.ui-tabs-active { margin-top: -1px; padding-top: 1px;}
