.container {
    height: 95%;
    margin: auto;
    min-width: 900px;
    padding: 10px;
    position: absolute;
    width: 97%;
}
.todoList {
    border: 1px solid;
    float: left;
    height: 100%;
    width: 300px;
}
.list {
    /*overflow: auto;*/
    height: 100%;
    position: relative;
}
.nodePaneContainer {
    border: 1px solid;
    overflow: hidden;
    height: 100%;
    margin-left: 320px;
    width: -webkit-calc(93% - 255px);
    width: -moz-calc(93% - 255px);
    width: calc(93% - 255px);
}
.clear {
    clear: both;
}
.dragElement {
    padding: 10px;
}
.drangNode {
    overflow: visible;
    width: 90px;
    height: 90px;
}
g.node circle {
    stroke:gray;
    cursor:pointer;
}
g.node circle.inner {
    fill : white;
    stroke-width : 0px;
}

g.inputs circle{
    fill : gray;
    stroke-width : 0px;
    fill-opacity:0;
}

g.outputs circle{
    fill : gray;
    stroke-width : 0px;
    fill-opacity:0;
}
g.node circle.outer {
    stroke-width : px;
    fill : white;
    fill-opacity:0;
}
g.node.selected circle.outer {
    stroke-width : 1px;
    stroke-opacity : 1;
}
g.node.selected g text{
    opacity: 1;
}

g.node text {
    font : 12px sans-serif;
    font-weight : bold;
    pointer-events : none;
    opacity: 0;
}
g.node text.nodeName{
    opacity: 1 !important;
}

g.node.hover text{
    opacity: 1;
}

g.inputs.hover text{
    opacity: 1;
}

g.outputs.hover text{
    opacity: 1;
}

path.transition, path.dragline {
    fill : none;
    stroke : #000;
    stroke-width: 5px;
    cursor : default;
    marker-end : url(#end-arrow);
}
path.dragline {
    pointer-events: none;
}
path.dragline.hidden {
    stroke-width: 0px;
}
/* disable text selection */
svg *::selection {
    background : transparent;
}
svg *::-moz-selection {
    background:transparent;
}
svg *::-webkit-selection {
    background:transparent;
}

.drag_line {
    stroke: #999;
    stroke-width: 5;
    pointer-events: none;
}

.drag_line_hidden {
    stroke: #999;
    stroke-width: 0;
    pointer-events: none;
}

#nodePane{
 background:url("../images/canvas-bg.png") repeat ;
}