.container {
    height: 95%;
    margin: auto;
    min-width: 900px;
    padding: 10px;
    position: absolute;
    width: 97%;
}
.todoList {
    border: 1px solid;
    float: left;
    height: 100%;
    width: 300px;
}
.list {
    /*overflow: auto;*/
    height: 100%;
    position: relative;
}
.nodePaneContainer {
    border: 1px solid;
    overflow: hidden;
    height: 100%;
    margin-left: 320px;
    width: -webkit-calc(93% - 255px);
    width: -moz-calc(93% - 255px);
    width: calc(93% - 255px);
}
.clear {
    clear: both;
}
.dragElement {
    padding: 10px;
}
.drangNode {
    overflow: visible;
    width: 90px;
    height: 90px;
}
g.node circle {
    stroke:#c8c8c8;
    cursor:pointer;
}

g.inputs circle{
    fill : gray;
    stroke-width : 0px;
    fill-opacity:0;
}

g.outputs circle{
    fill : gray;
    stroke-width : 0px;
    fill-opacity:0;
}
g.node circle.outer {
    fill : #c8c8c8;
    fill-opacity:0;
}
g.node.selected circle.outer {
    stroke-opacity : 0;
}
g.node g.controls{
    visibility: hidden;
    cursor:pointer;
}

g.node.selected g.controls{
    visibility: visible;
}
g.node.selected g text{
    opacity: 1;
}

g.node text {
    font : 12px sans-serif;
    font-weight : bold;
    pointer-events : none;
    opacity: 0;
}
g.node text.nodeName{
    opacity: 1 !important;
}

g.node.hover text{
    opacity: 1;
}

g.node.hover circle{
    filter:url(#dropShadow);
}

g.inputs.hover text{
    opacity: 1;
}

g.outputs.hover text{
    opacity: 1;
}

path.transition, path.dragline {
    fill : none;
    stroke : #c8c8c8;
    stroke-width: 6px;
    cursor : default;
}

path.transition_b{
    fill : none;
    stroke : #ebebeb;
    stroke-width: 4px;
    cursor : default;
}

path.dragline {
    pointer-events: none;
}
path.dragline.hidden {
    stroke-width: 0px;
}
/* disable text selection */
svg *::selection {
    background : transparent;
}
svg *::-moz-selection {
    background:transparent;
}
svg *::-webkit-selection {
    background:transparent;
}

.drag_line {
    stroke: #999;
    stroke-width: 5;
    pointer-events: none;
}

.dragline .hidden {
    stroke: #999;
    stroke-width: 0;
    pointer-events: none;
}
.removeline.hidden {
 visibility: hidden;
}
.removeline{
    z-index: 10000;
}
#nodePane{
 background:url("../images/canvas-bg.png") repeat ;
}

#Popup_div{
    position: absolute;
    top: 20px;
    right: 30px;
}

#Popup_div .qtip{
    position: static;
    min-height: 0;
    overflow: hidden;
    margin: 0 0 5px 0;
}
#nodeEditor{
    display: block;
}